.spacer {
    height: 50px;
}

.NewsCards {
    display: flex;
    flex-direction: column; /* Align cards vertically */
    align-items: center; /* Center align items horizontally */
    margin-top: 5rem;
}

.newsList {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    justify-content: center; /* Center align items horizontally */
    margin-top: 2rem; /* Adjust the margin as needed */
}

.newsCard {
    position: relative;
    background-color: #ffffff; /* White background */
    margin: 1rem; /* Increase the margin for more spacing */
    flex: 1 0 calc(33.333% - 2rem); /* Adjust the width of each card */
    max-width: 50rem; /* Increase the maximum width */
    max-height: 70rem; /* Increase the maximum height */
    transition: 0.2s;
    padding: 1rem; /* Add padding to create spacing between cards */
    box-sizing: border-box; /* Include padding in width calculation */
}

.newsCard:hover {
    transform: translateY(-1rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.newsImg {
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
    max-height: 40rem; /* Increase the maximum image height */
}

.newsCardContent {
    margin: 2rem;
}

.newsTitle {
    font-size: 2rem; /* Increase the font size */
    color: #7b1113;
}

.btn {
    float: left;
}

.stack,
.tagsStack {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.tagsStack {
    bottom: 0;
}

.newsAuthor {
    font-size: 1.2rem; /* Increase the font size */
    font-weight: bold;
    color: black;
}

.newsTags {
    font-size: 1.2rem; /* Increase the font size */
    color: black;
}

ul.tag {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

li.tags {
    float: left;
}

.headSpace {
    height: 150px;
}

.newsArticle {
    color: white;
}

.articleImg {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
