/* global.css */

body {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    background-color: #1e1e1e; /* Set your desired background color or image */
    /* add gradient effect */
   
  }
  