/* global.css */

body {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    
    /* add gradient effect */
   
  }

  .body-dark{
    background-color: #1e1e1e; /* Set your desired background color or image */
  }
  
  .body-light{
    background-color: #eee; /* Set your desired background color or image */
  }
  