body {
    margin: 0;
    padding: 0;
    background-color: #000;
    padding-bottom: 100px;
    
  }
  
  #contact {
    width: 100%;
    height: 90vh;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Inter', sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 50px;
    font-weight: bold;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }
  
  .form-control,
  textarea {
    width: 100%; /* Set the width to 100% for consistency */
    max-width: 400px;
    background-color: #ffffff;
    color: #000000;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
  }
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    background-color: rgb(142, 21, 55); /* Change this color to the desired color */
    color: white; /* Change text color to contrast with the background color */
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    padding-top: 20px; /* Adjust the top padding as needed */
  }
  
  .send-text {
    font: 700 12px 'Inter', sans-serif;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
    
  }
  
 
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
   .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
    columns: 1;
    align-items: center;
    display: flexbox;
  }
  
   .list-item {
    
    color: #aaa;
  }
  
  /* .contact-text  {
    font: 300 18px 'Inter', sans-serif;
    letter-spacing: 1.9px;
    color: #000000;
    margin: 0;
  } */
.logocinterlabs{
    height: 100px;
    filter:  contrast(0%) saturate(500%);
}
.logo-container{
    display: flex;
    justify-content: center; /* Center horizontally */
    /* align-items: center; Center vertically */
    height: auto; 
    margin-top: -5px;
}
  .contact-textplace{
    font: 300 18px 'Inter', sans-serif;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: -25px;}

    .contact-textemail{
        font: 300 18px 'Inter', sans-serif;
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: -25px;
        text-decoration: none;
    color: #aaa;}

        .contact-textemail:hover{
            color: rgb(142, 21, 55);}
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
   
  
  .social-media-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
    columns: 1;
    align-items: center;
    display: flexbox;
  }
  
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .social-media-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }
  
  .social-media-list li {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
 
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  .acres{
    font: 300 15px 'Inter', sans-serif;
    margin-left: 300px;
    margin-bottom: 50px;
    margin-top: -35px;
    width: 200px;
color: black;}