.navbar {
  background: linear-gradient(1.5turn, rgb(142, 21, 55) , rgb(3, 13, 18) );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  font-family: 'Inter', sans-serif;
  top: 0;
  z-index: 999;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.navbar-container {
  position: fixed; top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  max-width: 2000px;
  list-style: none;
  
}

.logo-image {
  width: 300px; /* Adjust the width as needed */
  height: auto;
   /* Add some right margin to separate the logo from other elements */
}


.nav-menu {
  display: flex;
  grid-template-columns: repeat(5, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: center;
 margin-right: 10rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.25rem .5rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #FFB81D;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}




@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    
    justify-content: center; /* Center the items horizontally */
   right: 70%;
   
  }

  
  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 0rem;
    width: 100%;
    display: table;
    font-size: 1rem;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: static;
    
    left: 0;
    bottom: 10em;
    transform: translate(25%, 50%);
  }

 /* Add css style for dropdown */

 
}
